In [ ]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.externals.joblib import dump, load

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
## read the data
df_data = pd.read_csv('/content/drive/MyDrive/cicids_static_data.csv')

In [ ]:
## check the 1st 5 rows
df_data.head()

    Destination Port   Flow Duration  ...   Idle Min   Label
0                 53             159  ...          0  BENIGN
1                 53           51673  ...          0  BENIGN
2               7496              43  ...          0  ATTACK
3              46564              61  ...          0  BENIGN
4                 80              69  ...          0  BENIGN

[5 rows x 79 columns]

In [ ]:
len(df_data)

25191

In [ ]:
## some stats about the data
df_data.describe()
## From this we can drop the columns with only zeros: FWD

        Destination Port   Flow Duration  ...      Idle Max      Idle Min
count       25191.000000    2.519100e+04  ...  2.519100e+04  2.519100e+04
mean         8765.751379    1.302190e+07  ...  6.366900e+06  5.795319e+06
std         19077.629319    3.191602e+07  ...  2.013473e+07  1.923531e+07
min             0.000000   -1.000000e+00  ...  0.000000e+00  0.000000e+00
25%            53.000000    1.670000e+02  ...  0.000000e+00  0.000000e+00
50%            80.000000    3.132600e+04  ...  0.000000e+00  0.000000e+00
75%           443.000000    1.461366e+06  ...  0.000000e+00  0.000000e+00
max         65464.000000    1.199998e+08  ...  1.200000e+08  1.200000e+08

[8 rows x 78 columns]

In [ ]:
## get names of columns of data
df_data.columns

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       'Label'],
      dtype='object')

In [ ]:
## get the columns with null values greater than zero
df_data.columns[df_data.isna().sum() >0]

Index(['Flow Bytes/s'], dtype='object')

In [ ]:
## check if this column has really missing values
df_data['Flow Bytes/s'].isna().sum()

6

In [ ]:
"""
Here there was a problem in dropping the infinity values; even though I'd drop them they persist and keep being there: some reasons:
1.  There might be no nulls but 'np.inf' values
2.   Check from the describe if there are any inf values for different columns (as these won't appear in conditions of nulls)
3.   Drop by condition better than the index as this might be tricky; condition gets it at once with inplace = True
4.   I'm not sure if this affected but make a copy for the dataframe to drop on
"""

In [ ]:
## Drop nulls ==> this drops the nulls in flow/bytes
## Since the dataframe is of a quite large number we can easily drop the values ((we don't need to know the column or anything; the above trials was for us))
## But we need to remove it from the whole dataframe
df_data_na = df_data_copy.dropna()

In [ ]:
## length should be less by 6
len(df_data_na)

25185

In [ ]:
# Here we drop the infinity values in Flow Bytes
df_data_na.drop(df_data_na[df_data_na['Flow Bytes/s'] == np.inf].index, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
## Recheck
idx = df_data_na.index[df_data_na['Flow Bytes/s'] == np.inf]
idx = list(idx)
print(idx, df_data_na['Flow Bytes/s'].isna().sum())

[] 0

In [ ]:
## we can see the range of values (-1.2x10^-7 to 1.86*10^5) if we want to replace the NaN by mean value: the value was fixed
df_data_na['Flow Bytes/s'].describe()

count    2.517900e+04
mean     1.661845e+06
std      2.785234e+07
min     -1.200000e+07
25%      1.194084e+02
50%      4.713444e+03
75%      1.860465e+05
max      2.071000e+09
Name: Flow Bytes/s, dtype: float64

In [ ]:
### Now we need to remove the infinity values in Flow Packets ==> we can see there are no inf values
idx2 = df_data_na.index[df_data_na[' Flow Packets/s'] == np.inf]
idx2

Int64Index([], dtype='int64')

In [ ]:
df_data_na[' Flow Packets/s'].describe() ## And its describe is cleaned now

count    2.517900e+04
mean     6.680076e+04
std      2.420045e+05
min     -2.000000e+06
25%      6.514248e+00
50%      1.070754e+02
75%      2.209945e+04
max      3.000000e+06
Name:  Flow Packets/s, dtype: float64

In [ ]:
# ## get the indices of infinity in flow packets
# idx = df_data_na.index[df_data_na[' Flow Packets/s'] == np.inf]
# ## here we can see there're inf values
# df_data_na[' Flow Packets/s'].value_counts().sort_index()

In [ ]:
## check the number of rows in dataframe
len(df_data_na)

25179

In [ ]:
## get the data
df_x = df_data_na.iloc[:, :-1]

In [ ]:
## get the label of the data
df_y = df_data_na.iloc[:, -1]

In [ ]:
# scaler = StandardScaler()
# df_x = scaler.fit_transform(df_x)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    df_x, df_y, test_size=0.3, random_state=42)

In [ ]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
    max_depth=1, random_state=0).fit(X_train, y_train)

In [ ]:
score = clf.score(X_test, y_test)

In [ ]:
print(score)

0.9899391051098756

In [ ]:
#### For more finetuning we may use stacking for Random Forest, xgboost and svm

In [ ]:
### Save the standard scalar; can be done via pickle
## https://stackoverflow.com/questions/53152627/saving-standardscaler-model-for-use-on-new-datasets
# dump(scaler, 'std_scaler.bin', compress=True)

['std_scaler.bin']

In [ ]:
dump(clf, 'model.bin', compress=True)

['model.bin']

In [ ]:
# sc=load('std_scaler.bin')
model = load('model.bin')