# 1. Import Libraries

In [77]:
import pandas as pd
from sklearn.ensemble import GradientBoostingClassifier
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, average_precision_score
import pickle
from sklearn.tree import DecisionTreeClassifier
from joblib import dump, load

# **Binary Classifiers: Problem 1**

# 2. Data Exploration

In [30]:
## read the data
df_data = pd.read_csv('/content/cicids_static_data.csv')

In [31]:
## check the 1st 5 rows
df_data.head()

    Destination Port   Flow Duration  ...   Idle Min   Label
0                 53             159  ...          0  BENIGN
1                 53           51673  ...          0  BENIGN
2               7496              43  ...          0  ATTACK
3              46564              61  ...          0  BENIGN
4                 80              69  ...          0  BENIGN

[5 rows x 79 columns]

In [32]:
len(df_data)

25191

In [33]:
## some stats about the data
df_data.describe()
## From this we can drop the columns with only zeros: FWD

        Destination Port   Flow Duration  ...      Idle Max      Idle Min
count       25191.000000    2.519100e+04  ...  2.519100e+04  2.519100e+04
mean         8765.751379    1.302190e+07  ...  6.366900e+06  5.795319e+06
std         19077.629319    3.191602e+07  ...  2.013473e+07  1.923531e+07
min             0.000000   -1.000000e+00  ...  0.000000e+00  0.000000e+00
25%            53.000000    1.670000e+02  ...  0.000000e+00  0.000000e+00
50%            80.000000    3.132600e+04  ...  0.000000e+00  0.000000e+00
75%           443.000000    1.461366e+06  ...  0.000000e+00  0.000000e+00
max         65464.000000    1.199998e+08  ...  1.200000e+08  1.200000e+08

[8 rows x 78 columns]

In [34]:
## get names of columns of data
df_data.columns

Index([' Destination Port', ' Flow Duration', ' Total Fwd Packets',
       ' Total Backward Packets', 'Total Length of Fwd Packets',
       ' Total Length of Bwd Packets', ' Fwd Packet Length Max',
       ' Fwd Packet Length Min', ' Fwd Packet Length Mean',
       ' Fwd Packet Length Std', 'Bwd Packet Length Max',
       ' Bwd Packet Length Min', ' Bwd Packet Length Mean',
       ' Bwd Packet Length Std', 'Flow Bytes/s', ' Flow Packets/s',
       ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max', ' Flow IAT Min',
       'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std', ' Fwd IAT Max',
       ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean', ' Bwd IAT Std',
       ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags', ' Bwd PSH Flags',
       ' Fwd URG Flags', ' Bwd URG Flags', ' Fwd Header Length',
       ' Bwd Header Length', 'Fwd Packets/s', ' Bwd Packets/s',
       ' Min Packet Length', ' Max Packet Length', ' Packet Length Mean',
       ' Packet Length Std', ' Packet Length Variance', 'FIN Flag Count',
       ' SYN Flag Count', ' RST Flag Count', ' PSH Flag Count',
       ' ACK Flag Count', ' URG Flag Count', ' CWE Flag Count',
       ' ECE Flag Count', ' Down/Up Ratio', ' Average Packet Size',
       ' Avg Fwd Segment Size', ' Avg Bwd Segment Size',
       ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk', ' Fwd Avg Packets/Bulk',
       ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk', ' Bwd Avg Packets/Bulk',
       'Bwd Avg Bulk Rate', 'Subflow Fwd Packets', ' Subflow Fwd Bytes',
       ' Subflow Bwd Packets', ' Subflow Bwd Bytes', 'Init_Win_bytes_forward',
       ' Init_Win_bytes_backward', ' act_data_pkt_fwd',
       ' min_seg_size_forward', 'Active Mean', ' Active Std', ' Active Max',
       ' Active Min', 'Idle Mean', ' Idle Std', ' Idle Max', ' Idle Min',
       'Label'],
      dtype='object')

# 3. Data Cleaning (Remove NaNs and Infinities)

In [35]:
## get the columns with null values greater than zero
df_data.columns[df_data.isna().sum() >0]

Index(['Flow Bytes/s'], dtype='object')

In [36]:
## check if this column has really missing values
df_data['Flow Bytes/s'].isna().sum()

6

Here there was a problem in dropping the infinity values; even though I'd drop them they persist and keep being there: some reasons:
1.  There might be no nulls but 'np.inf' values
2.   Check from the describe if there are any inf values for different columns (as these won't appear in conditions of nulls)
3.   Drop by condition better than the index as this might be tricky; condition gets it at once with inplace = True
4.   I'm not sure if this affected but make a copy for the dataframe to drop on

In [37]:
## Drop nulls ==> this drops the nulls in flow/bytes
## Since the dataframe is of a quite large number we can easily drop the values ((we don't need to know the column or anything; the above trials was for us))
## But we need to remove it from the whole dataframe
df_data_copy = df_data.copy()
df_data_na = df_data_copy.dropna()

In [38]:
## length should be less by 6
len(df_data_na)

25185

In [39]:
# Here we drop the infinity values in Flow Bytes
df_data_na.drop(df_data_na[df_data_na['Flow Bytes/s'] == np.inf].index, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
## Recheck
idx = df_data_na.index[df_data_na['Flow Bytes/s'] == np.inf]
idx = list(idx)
print(idx, df_data_na['Flow Bytes/s'].isna().sum())

[] 0

In [41]:
## we can see the range of values (-1.2x10^-7 to 1.86*10^5) if we want to replace the NaN by mean value: the value was fixed
df_data_na['Flow Bytes/s'].describe()

count    2.517900e+04
mean     1.661845e+06
std      2.785234e+07
min     -1.200000e+07
25%      1.194084e+02
50%      4.713444e+03
75%      1.860465e+05
max      2.071000e+09
Name: Flow Bytes/s, dtype: float64

In [42]:
### Now we need to remove the infinity values in Flow Packets ==> we can see there are no inf values
idx2 = df_data_na.index[df_data_na[' Flow Packets/s'] == np.inf]
idx2

Int64Index([], dtype='int64')

In [43]:
df_data_na[' Flow Packets/s'].describe() ## And its describe is cleaned now

count    2.517900e+04
mean     6.680076e+04
std      2.420045e+05
min     -2.000000e+06
25%      6.514248e+00
50%      1.070754e+02
75%      2.209945e+04
max      3.000000e+06
Name:  Flow Packets/s, dtype: float64

In [44]:
## check the number of rows in dataframe
len(df_data_na)

25179

# 4. Split the data

In [45]:
## get the data
df_x = df_data_na.iloc[:, :-1]

In [46]:
## get the label of the data
df_y = df_data_na.iloc[:, -1]

In [47]:
X_train, X_test, y_train, y_test = train_test_split(
    df_x, df_y, test_size=0.3, random_state=42)

# 5. Classifier A (XGBoost)

In [48]:
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
    max_depth=1, random_state=0).fit(X_train, y_train)

**In the next cells we calculate the metrics**

In [49]:
y_pred = clf.predict(X_test)

In [50]:
## Encoding to calculate Average precision Recall
y_pred_enc_f = []
y_test_enc_f = []
for i in range(len(y_pred)):
    if y_pred[i] == "BENIGN":
       y_pred_enc_f.append(0)
    else: 
       y_pred_enc_f.append(1)

    if y_test.iloc[i] == "BENIGN":
       y_test_enc_f.append(0)
    else: 
       y_test_enc_f.append(1)

In [51]:
average_precision = average_precision_score(y_test_enc_f, y_pred_enc_f)
print(average_precision)

0.9052908242099844

In [52]:
## Classification Report
c_report = classification_report(y_test, y_pred)
print(c_report)

              precision    recall  f1-score   support

      ATTACK       0.96      0.93      0.95       741
      BENIGN       0.99      1.00      0.99      6813

    accuracy                           0.99      7554
   macro avg       0.98      0.96      0.97      7554
weighted avg       0.99      0.99      0.99      7554

**Use this for f1 score of the class**

In [53]:
x = classification_report(y_test, y_pred)
report = classification_report(y_test, y_pred, output_dict=True )
f1_score_attack =  report['ATTACK']['f1-score'] 
f1_score_avg = report['macro avg']['f1-score'] 
## in general we should use the weighted avg for imbalanced, however since this considers that the positive class is the one with 
## minority instances, while the positive class here is considered as the 'Attack' class -maybe due to the alphabet- so this conflict makes us better choose the macro or the attack metrics

print(f1_score_avg)

0.9711883120011563

In [60]:
dump(clf, 'model_no_sc.bin', compress=True)

# 6. Classifier B (Decision Tree)

In [64]:
clf2 = DecisionTreeClassifier(random_state=0).fit(X_train, y_train)

In [65]:
y_pred2 = clf2.predict(X_test)

In [66]:
c_report2 = classification_report(y_test, y_pred2)
print(c_report2)

              precision    recall  f1-score   support

      ATTACK       0.99      0.99      0.99       741
      BENIGN       1.00      1.00      1.00      6813

    accuracy                           1.00      7554
   macro avg       0.99      0.99      0.99      7554
weighted avg       1.00      1.00      1.00      7554

# **Multi-Classifiers: Problem 2**

# 2. Data Exploration

In [67]:
## read the data
df_data = pd.read_csv('iot_static_data.csv')

## check the 1st 5 rows
df_data.head()

   MI_dir_L5_weight  ...             Class
0         19.570634  ...            BENIGN
1         49.893840  ...            BENIGN
2          1.996527  ...            BENIGN
3          1.000000  ...            BENIGN
4        100.707918  ...  mirai_udp_attack

[5 rows x 117 columns]

In [68]:
## get the columns with null values greater than zero
df_data.columns[df_data.isna().sum() >0]

### No missing: The data is clean but the data has categorical features

Index([], dtype='object')

# 3. Data Cleaning (from categorical to numeric)

In [69]:
######## Get dummies ##########

df_x = df_data.loc[: , df_data.columns != 'Class' ]
print(len(df_data.columns))

df_y = df_data.loc[: , df_data.columns == 'Class']

117

In [70]:
categ = df_x.dtypes == 'object'
idx = np.where(categ)[0]
col = df_x.iloc[:, idx]
col_names_categ = col.columns

In [71]:
categ_dummy = pd.get_dummies(col)
df_x.drop(columns = col_names_categ, inplace = True)
df_x = pd.concat([df_x, categ_dummy], axis = 1)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [72]:
len(df_x.columns)  ## 7 unique values in the source column

124

# 4. Split the Data

In [74]:
X_train_m, X_test_m, y_train_m, y_test_m = train_test_split(
    df_x, df_y, stratify = df_y, test_size=0.3, random_state=42)

# 5. Classifier A (XGBoost)

In [75]:
clf_m = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
    max_depth=1, random_state=0).fit(X_train_m, y_train_m)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [78]:
y_pred_m = clf_m.predict(X_test_m)
c_report_m = classification_report(y_test_m, y_pred_m)
print(c_report_m)

                       precision    recall  f1-score   support

               BENIGN       1.00      1.00      1.00      6686
  gafgyt_combo_attack       0.00      0.00      0.00         6
   gafgyt_junk_attack       0.96      0.96      0.96       113
   gafgyt_scan_attack       0.97      0.93      0.95        60
    gafgyt_tcp_attack       1.00      0.97      0.98        64
    gafgyt_udp_attack       0.99      1.00      0.99       134
     mirai_ack_attack       0.88      1.00      0.94        29
    mirai_scan_attack       1.00      1.00      1.00        26
     mirai_syn_attack       1.00      0.97      0.98        30
     mirai_udp_attack       1.00      1.00      1.00       532
mirai_udpplain_attack       0.60      1.00      0.75         3

             accuracy                           1.00      7683
            macro avg       0.85      0.89      0.87      7683
         weighted avg       1.00      1.00      1.00      7683

In [79]:
dump(clf_m, 'model_multi.bin', compress=True)

['model_multi.bin']

# 6. Classifier B (Decision Tree)

In [80]:
clf2_m = DecisionTreeClassifier(random_state=0).fit(X_train_m, y_train_m)

In [81]:
y_pred2_m = clf2_m.predict(X_test_m)

In [ ]:
c_report2_m = classification_report(y_test_m, y_pred2_m)
print(c_report2_m)

# 7. Auxilary